* {
  box-sizing: border-box;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
 
}

body {
	background-color: black;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;

	}





header {
	height: 20vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	margin-top: 5px;
	
}

.logo a:visited {
	
	text-decoration: none;
}

.logo {
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.logo img {
	width: 175px;
	height: 175px;
	display: block;
	margin: 0 auto;
	
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: white;
	overflow-x: hidden; 
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 15px;
	text-decoration: none;
	font-size: 1.8em;
	color: black;
	display: block;
	transition: 0.3s;
	text-align: center;
	font-family: Bona Nova SC;
	font-weight: bold;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	
}
.navbar {
	overflow: hidden;
	width: 40%;
	
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100%;
}

.navbar a {
	float: left;
	display: block;
	text-align: center;
	margin-top: 30px;
	padding-left: 13px;
	color: white;
	font-size: 1.1rem;
	text-decoration: none;
	font-family: Bona Nova SC;
	font-weight: bold;
} 

span {
	color: white;
	padding-right: 10px;
	display: flex;
	align-items: center;
	padding-right: 20px;
	height: 100%;
	width: 10%;
}

span:active {
	color: orangered;
}
.navbar a:hover {
	color: beige;
}



.homepage {
	min-width: 100%;
}


.pageintro {
	height: 55vh;
	width: 100%;
	position: relative;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	margin-bottom: 10px;

	
	

}

.pageintro img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	
}

.title { 
	color: white; 
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	text-align: center;
	font-size: 5em;
	font-family: Caveat;
}

.welcome {
	display: flex;
	width: 100%; 
	height: 60vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	
	
}

#homeleft {
	width: 50%;
	height: 100%;
	overflow: hidden;
	margin-right: 15px;
	
	
	
}




#homeright {
	width: 50%;
	height: 100%;
	text-align: center;
	justify-content: center;
	align-content: center;


}

.MyWebsite {
	font-family: Sedan;
	width: 100%;
	color: white;
	font-size: 2rem;
	

}

.thankyou {
	color: white; 
	font-family: Caveat;
	font-size: 2.5rem;
	text-align: center; 
	margin: 0 auto;
	width: 80%;

}








footer {
	font-family: Sedan;
	color: white; 
	text-align: center;
	padding-top: 60px;
}


.pagetitle {
	font-family: Sedan;
	color: white;
	text-align: center;
	font-size: 3em;
	
}

.categories {
	display: flex;
	width: 70%;
	margin: 0 auto;
	justify-content: space-evenly;
	overflow: hidden;
	height: 65px;
	
	
}

.categories a{
		height: 100%;
		width: 20%;
		color: white;
		font-family: Bona Nova SC;
		align-content: center;
		text-align: center;
		border-radius: 5px;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.1em;
		padding: 10px;
	
}

.category1 {
	background-color: darkblue;

}

.category2 {
	background-color: purple;
}

.category3 {
	background-color: darkgreen;
}

#subheader {
	font-family: Sedan; 
	color: white;
	text-align: left;
	width: 55%;
	margin: 0 auto;	
	padding: 40px;
}

.AllReviews {
	max-width: 1600px;
	margin: 0 auto;

	
	
}

.recentreviews {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.recentreviews img {
		margin: 0 auto;
		width: 100%;
		display: block; 
		border: 2px solid white;
		
}
 .recentreviews figure {
	color: white;
	font-family: Sedan;
	text-align: center;
	text-decoration: none;
	width: 50%;
	margin: 0 auto;
	padding-top: 20px;
	

}

.review figure {
	color: red;
	font-family: Sedan;
	text-align: center;
	font-size: 1.2em;
	margin: 0 auto;
	width: 95%;
	
	
	
	
	
	
}

.review iframe {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
	height: 65vh;
	

}






.recentreviews figcaption {
	padding-top: 20px;
}

 a {
		text-decoration: none;
}


.aboutmeintro {
		font-family: Caveat;
		color: white;
		width: 50%;
		text-align: center;
		margin: 0 auto;
		height: max-content;
		font-size: 2rem;
		padding-bottom: 30px;
		
}

.AboutMe {
	max-width: 1600px;
	margin: 0 auto;
	
	
}


details {
		border: 2px inset white;
		color: white;
		width: 33%;
		height: 60px;
		font-family: Sedan; 
		margin: 0px auto;
		padding-top: 15px;
		font-weight: bold;
		font-size: 1.2rem;
		padding-left: 20px;
		margin-bottom: 40px;
		

		
		&[open]{
			height: max-content;
		}
		
}

details ul {
	list-style-type: none;
	list-style-position: inside;
	line-height: 2.0;
}

.aboutmephoto {
	width: 40%;
	height: auto;
	margin: 0 auto;
	display: block;
	padding: 20px;
}

.review p {
	font-family: Sedan;
	color: white;
	font-size: 1.4em;
	text-align: left;
	line-height: 2.0;
	

}

.review {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	
	
}

.review-content {
	width: 75%;
	margin: 0 auto;
	
	
} 

.review img {
	margin: 0 auto;
	display: block;
	width: 100%;
	height: auto;
	padding: 20px;
}

.review blockquote {
		color: orangered;
		font-family: Bona Nova SC;
		font-weight: bold;
		font-size: 2em;
		text-align: center;
		padding: 0px;
		margin: 0px;
}

.Photos {
	max-width: 1600px;
	margin: 0 auto;
}
.PhotoHighlights img {
		margin: 0 auto;
		display: block;
		width: 100%;
		height: auto;
		padding: 20px;
		
}
.PhotoHighlights figure {
	color: white;
	font-family: Sedan;
	text-align: center;
	text-decoration: none;
	width: 60%;
	height: auto;
	margin: 0 auto;
	padding-top: 20px;
	
}	

.homerow {
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
	
	
	
}

.homecolumn {
	flex: 25%;
	max-width: 25%;
	height: 100%;
	
	
	
	
}

.homecolumn img {
	width: 100%;
	object-fit: cover;
	padding: 0 4px;
	
	
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px;
  }

  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }


  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	
  }

.finalreview {
	width: 100%;	
	border-radius: 20px;
	display: flex;	
	margin: 0 auto;
	overflow: hidden;
	height: 300px;
	
	
	
}

.reviewscore {
	width: 30%;
	height: 100%;
	background-color: orangered;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.reviewpointers {
	width: 70%;
	height: 100%;
	background-color: white;
	color: black;
	font-family: Sedan;
	padding: 15px;
	overflow: visible;
	font-size: 0.9em;
	
	
}

.reviewcircle {
	border: 15px white solid;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	color: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 6em;
	
	
}

.reviewpointers h3, ul {
	margin: 0px;
	padding: 2px;
	list-style-position: inside;
	line-height: 1.8;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .logo img {
		width: 130px;
		height: 130px;
	
}


	

	.navbar {
		display: none;
	}
  .aboutmephoto {
    width: 75%;
    height: auto;
  }
  .aboutmeintro {
	  width: 85vw;
	  font-size: 1.5rem;
  }
  details {
	  width: 85vw;
	  font-size: 1.0em;
  }
  .welcome {
	  flex-direction: column;
	  height: 90vh; 
  }
  
  #homeleft, #homeright {
	 width: 100vw;
  }

  #homeleft{
	margin-right: 0px;
  }



  

  
  .title {
		font-size: 3rem;
	  
  }
  
  .pageintro {
	  height: 40vh;
	  margin-top: 5px;
	  margin-bottom: 0px;
  } 
  
  .thankyou {
	  font-size: 1.8em;
	  width: 85%;
  }

  #totktitle {
	font-size: 1.3em;
  }
  
  .review p {
	  font-size: 1.1em;
	  
  }
  
  .review-content {
	  width: 95%;
	  margin: 0 auto;
  }
  
  .review blockquote {
	  font-size: 1.2em;
  }
  
  .review img {
	  width: 95vw;
	  height: auto;
	  
	 
  }
  
  .review figure {
	  width: 95vw;
	  height: auto;
	  margin: 0 auto;
	  display: block;
	  
  }

  .recentreviews figure {
	width: 95vw;
	height: auto;
	margin: 0 auto;
	padding-top: 25px;
  }

  .recentreviews img {
	width: 100%;
	height: auto;
  }

  .categories {
	width: 100vw;
	height: 8vh;
	
	
  }

  .categories a {
	font-size: 0.8em;
	width: 25%;
  }

  #subheader {
	width: 100%;
	padding: 25px;
	
  }

  .navbar a {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
	
  }
  .navbar.responsive a:not(:last-child) {
    display: block;
	text-align: left;
	font-size: 0.9em;
	float: none;
	margin-top: 0px;
	padding: 10px;
}

.photos {
	width: 80vw;

}



header {
	height: 15vh;
	width: 100vw;
	justify-content: space-between;
	flex-direction: row-reverse;
}
	
.review iframe {
	width: 95vw;
	height: 30vh;
	
}

.PhotoHighlights figure {
	width: 90vw;
}



}

@media only screen and (min-width: 768px) {
	span {
		display: none;
	}

	

	.overlay-content a {
		
		display: flex;
		text-align: center;
		margin-top: 5px;
		color: white;
		font-size: 1.2em;
		text-decoration: none;
		font-family: Bona Nova SC;
		font-weight: bold;
	}

 
}

@media only screen and (max-width: 800px) {

.finalreview {
	width: 90%;
	height: max-content;
	margin-top: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid orangered;
	
}

.reviewscore {
	font-size: 2.0em;
	background-color: orangered;
	width: 100%;
	height: max-content;
	
	
}

.reviewcircle {
	height: 250px;
	width: 250px;
	border: 20px solid white;
	background-color: orangered;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 4em;
}

.reviewpointers {
	
	color: black;
	background-color: white;
	border: 5px orangered solid;
	width: 100%;
	padding: 15px;
	border-radius: 0px 0px 20px 20px;
}

.reviewpointers ul {
	line-height: 2.0;

}

.column {
    flex: 50%;
    max-width: 50%;
  }

}

@media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }

  @media screen and (min-width: 1800px) {

	.navbar a {

		color: white;
		font-size: 2rem;
		text-decoration: none;
		font-family: Bona Nova SC;
		font-weight: bold;
		padding: 15px;
	} 

	.logo img {
		width: 60%;
		height: auto;
		display: block;
		margin: 0 auto;
		
	}

	.title { 
		text-align: center;
		font-size: 8em;
		font-family: Caveat;
	}

	.MyWebsite {
		font-size: 4em;
	}

	.thankyou {
		font-size: 4em;
	}

	.review iframe {
		height: 40vh;
	}

}